*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
font-family: sans-serif;
section{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Tarjeta-principal{
width: 300px;
background-color: hsl(216, 50%, 16%);
border-radius: 14px;
}
.Tarjeta-foto{
display: flex;
align-items: center;
justify-content: center;
margin: 20px;    
}
.foto-principal{
    border-radius: 14px;
width: 250px;
margin: 10px;

}
.Texto-blanco{
color: white;
font-weight: 400;
}
.texto-gris{
margin-top: 15px;
    color: white;
font-weight: 300;
opacity: 0.3;
}
.contenedor-2{
margin-left: 20px;
margin-right: 20px;
}
.contenedor-detalle{
 display: flex;
 justify-content: space-between;
 margin-top: 20px;
 margin-bottom: 20px;   
}
.text-eth{
color: hsl(178, 100%, 50%);
}
.text-reloj{
color: hsl(215, 51%, 70%);
}
.contenedor-autor{
display: flex;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}
.autor{
margin-left: 10px;
}
.img-autor{
    border: solid 2px white;
    border-radius: 50%;
}