* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #458996;
}
p {
  color: #fff;
}
li{
    display: inline-block;
}
.main{
display: flex;
flex-wrap: wrap;
}
.section{
    border: solid 1px red;
    width: 25%;
}
nav img {
    display: none;
}
@media (max-width: 768px) {
  body {
    background-color: #88aa00;
  }
  li{
    display: block;
  }
  .section{
    width: 50%;
  }
}
@media (max-width: 480px) {
  body {
    background-color: #55442a;
  }

  .section{
    width: 100%;
  }
  ul{
    display: none;
  }
  nav img{
    display: inline-block;
  }
}
