body{
       background-image: url(../../Fotos/fondo\ marvel.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.cartilla{
    border: solid 10px red;
    background-color: red;
    border-radius: 15px;
    width: 500px;
height: 500px;
text-align: center;
margin: auto;
}
.img-principal{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    padding: 20px;
}
.nombre{
    text-align: center;
    color: brown;
}